APP_ENV=development
LOG_LEVEL=INFO
DATABASE_URL="postgresql+asyncpg://postgres:postgres@localhost:5432/voucherbot"

# Reddit Ingestion
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=VoucherBot/0.1.0
REDDIT_INGESTION_ENABLED=false
#Email Automation
RESEND_API_KEY="your_resend_api_key"
EMAIL_ID="your_email_id"

#AI Module
GEMINI_API_KEY="your_gemini_api_key"
GROQ_API_KEY="your_groq_api_key"
